.Wrap{
    width: 100%;
    display: flex;
}
.Row_Main_big{
    width: 100%;
}
.wrap_Main_child{
    width: 100%;
    display: flex;
    // flex-direction: column;
    background-color: black;
}



.tam{
    display: flex;
    justify-content: end;
    align-items: center;
}
.curr{
    display: none;
}
.over{
    display: block;
}