.Main_social_network{
    width: 67px;
    min-height: 100px;
    padding-top: 150px;
   

}
.wrap_social{
    
}
.Social{
    text-align: center;
}
.edit_Social{
    font-size: 2.4rem;
    padding: 8px 0;

}