.Wraper{
    border-top: 5px solid #e6e4e4;
    border-bottom: 1px solid #e6e4e4;
    margin-top: 24px;
    padding-top: 16px;
}
.test{
    min-width: 25px;
}

.Footer_Paren{
    width: 170px;
    font-size: 1.5rem;
    padding-left: 15px;
}
.inclue_Footer{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0;
    width: 170px;
}
.inclue_Footer:nth-child(5){
    border-left: 1px solid #e6e4e4;
    border-right: 1px solid #e6e4e4;
    padding-left: 15px;
}
.item_footer_option{
    margin: 8px 0;
    font-weight: 700;
}
.item_footer_option:nth-child(5){
    border-bottom: 1px solid #e6e4e4;
    padding-bottom: 13px;
}
.item_footer_option:nth-child(6){
    padding-top: 8px;
}
.item_footer{
    margin: 8px 0;
}
.btn-custum{
    width: 100px;
    height: 32px;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #f7f7f7;
    color: #333;
    border: 1px solid #e5e5e5;
}
.btn-custum:hover{
    opacity: 5%;
    color: red;
}
.btn-custum, .btn-custum{
    margin-right: 8px;
}
.Wrap_address{
    display: flex; 
    font-size: 1.3rem;
    width: 100%;
    margin: 0;
}
.layb{
    margin: 6px 0;
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
}
.box_address{
    width: 100px; 
    display: flex;
    // justify-content: center;
    padding-left: 15px;
}
.box_address:nth-child(2){
    margin: 0;
}
.box_address:nth-child(3){
    width: 100%;
}
.box_address, .box_address{
    margin-right: 5px;
    
}
.icon_address{
    margin-right: 8px;
}
.Wrap_address{
    border-bottom: 1px solid #e6e4e4;
    padding-bottom: 10px;
}
.contac_numb{
    font-size: 1.5rem;
    font-weight: 900;
}
.address_contac{
    font-size: 1.3rem;
    color: #757575;
}
.wrap_contac{
    display: flex;
    justify-content: space-between;
}
// ----------------------------------------------------------------
.interact_wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #e6e4e4;
}
.interact_left{
    display: flex;
}
.interact_right{
    display: flex;
}
.interact_text_left{
    margin: 0 10px 0 0;
}
.interact_icon{
    width: 140px;
}
.interact_link{
    padding-right: 12px ;
}